.text__input {

  .legend {
    color: $darkgray;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  input {
    width: 100%;
    padding: 26px 24px;
    border: 2px solid $primary;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 3rem;
  }
}