// @import '../constants/colors';

$colors: (primary: $primary,
  secondary: $secondary,
  blue: $blue,
  black: $black,
  lightgray: $lightgray,
  darkgray: $darkgray,
  cyan: $cyan,
  redishgray: $redishgray,
  transparent: transparent,
  white: $white);

@each $class,
$color in $colors {
  .text-#{$class} {
    color: $color;
  }

  .bg-#{$class} {
    background-color: $color;
  }
}