$primary: #4C54F8;
$secondary: #E2E2E2;
$blue: #0A6AF6;
$black: #000000;
$lightgray: #F9F9F9;
$darkgray: #AEB7B4;
$cyan: #A5ECD7;
$redishgray: #FFF9F9;
$white: #FFFFFF;
$lighttext: rgba(32, 32, 32, 0.6);
$indigo: #5242F0;